---
import Layout from '../layouts/Layout.astro';
import Badge from '../components/Badge.astro';
import GithubIcon from '../components/icons/GithubIcon.astro';
import SocialPill from '../components/SocialPill.astro';
import LinkedinIcon from '../components/icons/LinkedinIcon.astro';
import MailIcon from '../components/icons/MailIcon.astro';
import SearchIcon from '../components/icons/SearchIcon.astro';
import Experience from '../components/Experience.astro';
import SectionContainer from '../components/SectionContainer.astro';
import avatar from '../assets/github_profile_pic.jpg';
import { Image } from 'astro:assets';
import Projects from '../components/Projects.astro';
import CVIcon from '../components/icons/CVIcon.astro';
---

<Layout title="Porfolio de Javi"
	description="Portafolio de proyectos y experiencia de Javi, desarrollador web y móvil.">
		<main class="px-2">
			<SectionContainer id="presentacion" class="lg:h-screen py-44 lg:py-0 lg:flex lg:items-center">
				<div class="flex flex-col items-center md:flex-row gap-6">
					<Image src={avatar} alt="Foto Javi" class="w-44 h-auto rounded-full" loading="eager" decoding="async"/>

					<div class="flex flex-col items-center justify-center text-center md:items-start md:text-start md:justfiy-start">
						<div class="mb-2">
							<Badge href="mailto:javitin.dev@gmail.com" class="inline-flex transition-transform hover:scale-110">Disponible para trabajar</Badge>
						</div>
						<h1 class="text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-2">Javier Moreno Cano

						</h1> 
						<h2 class="text-xl lg:text-2xl opacity-80 text-wrap max-w-[700px]">
							Estudiante de último año de Ingeniería Informática y desarrollador web y móvil.
						</h2>
						
						<nav class="flex gap-4 mt-2 flex-wrap">
							<SocialPill href="https://github.com/Javit-Dev">
								<GithubIcon/> Github
							</SocialPill>
							<SocialPill href="https://www.linkedin.com/">
								<LinkedinIcon/> Linkedin
							</SocialPill>
							<SocialPill href="mailto:javitin.dev@gmail.com">
								<MailIcon/> Contáctame
							</SocialPill>
							<SocialPill href="mailto:javitin.dev@gmail.com">
								<CVIcon/> CV
							</SocialPill>
						</nav>
					</div>
				</div>
			</SectionContainer>

			<SectionContainer id="formacion">
				<h2  class="text-3xl font-semibold mb-6">Formación</h2>
				<Experience/>
			</SectionContainer>

			<SectionContainer id="proyectos">
				<h2  class="text-3xl font-semibold mb-6">Proyectos</h2>
				<Projects/>
			</SectionContainer>

			<SectionContainer id="sobre-mi">
				<h2  class="text-3xl font-semibold mb-6">Sobre mí</h2>
				<div class="flex flex-col items-center md:items-start md:flex-row-reverse gap-4">
					<div class="rounded-2xl ring-2 ring-white/10 border border-white/10  p-2  bg-white/5 shadow-lg">
						  <Image src={avatar} alt="Foto Javi" class="rounded-xl" loading="lazy" decoding="async"/>
					</div>
					<div class="space-y-3">
					<p class="text-base text-pretty opacity-80">
						Soy un apasionado de la tecnología y el desarrollo de software, siempre buscando aprender y mejorar mis habilidades.
					</p>
					<p class="text-base text-pretty opacity-80">
						Me encanta trabajar en proyectos que desafían mis conocimientos y me permiten crecer profesionalmente.
					</p>
					<p class="text-base text-pretty opacity-80">
						En mi tiempo libre, disfruto explorando nuevas tecnologías, contribuyendo a proyectos de código abierto y compartiendo mis conocimientos con la comunidad.
					</p>
					</div>
				</div>
			</SectionContainer>
		</main>
</Layout>

