---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Experience from '../components/Experience.astro';
import SectionContainer from '../components/SectionContainer.astro';
import Projects from '../components/Projects.astro';
import AboutMe from '../components/AboutMe.astro';
import Skills from '../components/Skills.astro';
---

<Layout title="Porfolio de Javier Moreno Cano - Ingeniero Informático y Desarrollador Web y Móvil"
	description="Porfolio de proyectos y experiencia de Javier Moreno Cano, ingeniero informático y desarrollador web y móvil.">
		<main class="px-2">
			<SectionContainer id="presentacion" class="lg:h-screen py-44 lg:py-0 lg:flex lg:items-center">
				<Hero/>
			</SectionContainer>

			<SectionContainer id="formacion">
				<h2  class="text-3xl font-semibold mb-6">Formación</h2>
				<Experience/>
			</SectionContainer>

			<SectionContainer id="proyectos">
				<h2  class="text-3xl font-semibold mb-6">Proyectos</h2>
				<Projects/>
			</SectionContainer>

			<SectionContainer id="sobre-mi">
				<h2 class="text-3xl font-semibold mb-6">Sobre mí</h2>
				<AboutMe/>
			</SectionContainer>
			
			<SectionContainer id="habilidades">
				<h2 class="text-3xl font-semibold mb-6">Habilidades</h2>
				<Skills/>
			</SectionContainer>
		</main>
</Layout>

