---
import avatar from '../assets/github_profile_pic.jpg';
import { Image } from 'astro:assets';
---

<div class="flex flex-col items-center md:items-start md:flex-row-reverse gap-4">
    <div class="rounded-2xl ring-2 ring-black/10 dark:ring-white/10 border border-black/10 dark:border-white/10  p-2  bg-black/5 dark:bg-white/5 shadow-lg">
            <Image src={avatar} alt="Foto Javi" class="w-64 h-auto rounded-xl" loading="lazy" decoding="async"/>
    </div>
    <div class="space-y-3">
    <p class="text-base text-pretty opacity-80">
        Soy un apasionado de la tecnología y el desarrollo de software, siempre buscando aprender y mejorar mis habilidades.
    </p>
    <p class="text-base text-pretty opacity-80">
        Desde pequeño he sido muy curioso, siempre intentando entender cómo funcionan los programas, las aplicaciones y
        las páginas web que utilizo. Esa curiosidad me llevó a descubrir el mundo del desarrollo.
    </p>
    <p class="text-base text-pretty opacity-80">
       Disfruto colaborar en equipos donde pueda aportar ideas creativas, aprender de otros y contribuir a objetivos comunes
    </p>
    </div>
</div>