---
import SocialPill from '../components/SocialPill.astro';
import GithubIcon from '../components/icons/socials/GithubIcon.astro';
import LinkedinIcon from '../components/icons/socials/LinkedinIcon.astro';
import MailIcon from '../components/icons/socials/MailIcon.astro';
import CVIcon from '../components/icons/socials/CVIcon.astro';
import avatar from '../assets/github_profile_pic.jpg';
import { Image } from 'astro:assets';
---


<div class="flex flex-col items-center md:flex-row gap-6">
    <div class="relative inline-flex items-center justify-center">
        <span
        class="absolute inset-0 rounded-full border-[6px] border-emerald-400/80
                    shadow-lg animate-pulse"
        aria-hidden="true"
        />

        <Image
        src={avatar}
        alt="Foto Javi"
        class="w-44 h-auto rounded-full"
        loading="eager"
        decoding="async"
        />

        <a href="mailto:javier.moreno.cano.work@gmail.com" aria-label="Disponible para trabajar">
                        <span
            class="absolute -bottom-3 left-1/2 -translate-x-1/2
                        rounded-full bg-emerald-500 px-4 py-1
                        text-xs font-semibold uppercase tracking-wide text-white
                        shadow-md hover:bg-emerald-400 transition"
            >
            Open to work
        </span>
        </a>

    </div>

    <div class="flex flex-col items-center justify-center text-center md:items-start md:text-start md:justfiy-start">
        <h1 class="text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-2">Javier Moreno Cano

        </h1> 
        <h2 class="text-xl lg:text-2xl opacity-80 text-wrap max-w-[700px]">
            Estudiante de último año de Ingeniería Informática y desarrollador web y móvil.
        </h2>
        
        <nav class="flex flex-wrap gap-4 mt-2 items-center justify-center md:justify-start">
            <SocialPill href="https://github.com/Javit-Dev" aria-label="GitHub">
                <GithubIcon/> GitHub
            </SocialPill>
            <SocialPill href="https://www.linkedin.com/in/javier-moreno-cano-74a750397" aria-label="LinkedIn">
                <LinkedinIcon/> LinkedIn
            </SocialPill>
            <SocialPill href="mailto:javier.moreno.cano.work@gmail.com" aria-label="Email">
                <MailIcon/> Contáctame
            </SocialPill>
            <SocialPill href="/cv/cv_javier_moreno.pdf" aria-label="CV">
                <CVIcon/> Descargar CV
            </SocialPill>
        </nav>
    </div>
</div>