---
import ProjectsItem from "./ProjectsItem.astro";

const PROJECTS = [
  {
    title: "2ISI",
    description:
      `Dashboard para Discord que recopila datos de tus servidores mediante un Bot y los muestra en gráficos dinámicos e interactivos.`,
    image: "/projects/proyecto1.webp",
    tags: ["Flask", "Angular", "Azure", "Docker", "gRPC"],
    github: "https://github.com/Javit-Dev/isi-2isi",
  },
  {
    title: "IPOkemon",
    description:
      `Aplicación de escritorio creada en .NET y C# que permite simular batallas entre Pokémon, desarrollada para la asignatura de IPO 2.`,
    image: "/projects/proyecto1.webp",
    tags: [".NET", "C#", "WPF"],
    github: "https://github.com/Javit-Dev/IPOkemon",
  },
  {
      title: "Remote-Types",
      description:
      `Proyecto de Sistemas Distribuidos en Python con ZeroC Ice y Apache Kafka que implementa un sistema de tipos remotos junto a un cliente funcional.`,
      image: "/projects/proyecto1.webp",
      tags: ["Python", "ZeroCIce", "Apache Kafka"],
      github: "https://github.com/Javit-Dev/remote-types-Distribuidos-2024"
  },
];
---

<ol class="space-y-12">
{PROJECTS.map((project) => (
    <li>
    <ProjectsItem {...project} />
    </li>
))}
</ol>
