---

import SkillsItem from "./SkillsItem.astro";
import type { Props as SkillsItemProps } from "./SkillsItem.astro";

import PythonIcon from "../components/icons/skills/PythonIcon.astro";
import JavaIcon from "../components/icons/skills/JavaIcon.astro";
import CSharpIcon from "../components/icons/skills/CSharpIcon.astro";
import TypescriptIcon from "../components/icons/skills/TypescriptIcon.astro";

import AngularIcon from "../components/icons/skills/AngularIcon.astro";
import NetIcon from "../components/icons/skills/NetIcon.astro";
import AndroidIcon from '../components/icons/skills/AndroidIcon.astro';
import SpringIcon from "../components/icons/skills/SpringIcon.astro";
import GitIcon from "../components/icons/skills/GitIcon.astro";

import DockerIcon from "../components/icons/skills/DockerIcon.astro";
import PostmanIcon from "../components/icons/skills/PostmanIcon.astro";


const LANGUAGES: SkillsItemProps[] = [
  { name: "Python", icon: PythonIcon },
  { name: "Java", icon: JavaIcon },
  { name: "C#", icon: CSharpIcon },         
  { name: "TypeScript", icon: TypescriptIcon }
];

const FRAMEWORKS: SkillsItemProps[] = [
  { name: "Angular", icon: AngularIcon },
  { name: ".NET", icon: NetIcon },
  { name: "Android", icon: AndroidIcon },
  { name: "Spring", icon: SpringIcon }
];

const TOOLS: SkillsItemProps[] = [
  { name: "Git", icon: GitIcon },
  { name: "Docker", icon: DockerIcon },
  { name: "Postman", icon: PostmanIcon }
];
---

<section class="grid grid-cols-1 md:grid-cols-2 gap-6">
  <article class="border border-black/10 dark:border-white/10 rounded-2xl p-6 bg-gradient-to-b
  from-black/5 to-black/2 dark:from-white/5 dark:to-white/2
  hover:from-black/10 hover:to-black/5 dark:hover:from-white/10 dark:hover:to-white/5 transition">
    <h3 class="text-2xl font-semibold mb-4 text-center">Lenguajes</h3>
    <div class="grid grid-cols-3 gap-2">
      {LANGUAGES.map((language) => (
        <SkillsItem {...language} />
      ))}
    </div>
  </article>
    <article class="border border-black/10 dark:border-white/10 rounded-2xl p-6 bg-gradient-to-b
  from-black/5 to-black/2 dark:from-white/5 dark:to-white/2
  hover:from-black/10 hover:to-black/5 dark:hover:from-white/10 dark:hover:to-white/5 transition">
    <h3 class="text-2xl font-semibold mb-4 text-center">Frameworks</h3>
    <div class="grid grid-cols-3 gap-2">
      {FRAMEWORKS.map((framework) => (
        <SkillsItem {...framework} />
      ))}
    </div>
  </article>
    <article class="border border-black/10 dark:border-white/10 rounded-2xl p-6 bg-gradient-to-b
  from-black/5 to-black/2 dark:from-white/5 dark:to-white/2
  hover:from-black/10 hover:to-black/5 dark:hover:from-white/10 dark:hover:to-white/5 transition col-span-1 md:col-span-2">
    <h3 class="text-2xl font-semibold mb-4 text-center">Herramientas</h3>
    <div class="grid grid-cols-3 gap-2">
      {TOOLS.map((tool) => (
        <SkillsItem {...tool} />
      ))}
    </div>
  </article>
</section>
